.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > * {
  margin: 10px 0;
}

.userInput {
  padding: 10px;
  width: 50%;
}

.joinBtn {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}