.messageBlock {
    padding: 20px;
    height: 10vh;
}

.formMessageSend {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userMessage {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #333333;
    outline: none;
    padding: 15px;
}

.userMessage::placeholder {
    font-style: italic;
}

.sendBtn {
    width: 150px;
    background: #04da1d;
    padding: 10px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.sendBtn:hover {
    background: rgb(129, 201, 129);
}